## 1. Create an sqlalchemy engine using a sample from the data set

## Steps:
* Import all the packages needed from sqlalchemy
* Create Base and Engine
* Creae a class Adult with table name 'Adult' and fields: 'age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income'
* Create a session and bind to Engine
* Insert five records from the sample given and commit the session

In [1]:
#Import all the packages needed from sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func

In [2]:
# Create Base and Engine
Base = declarative_base()
engine = create_engine('sqlite:///:memory:', echo=True)

In [3]:
class Adult(Base):
...     __tablename__ = 'Adult'
...
...     id = Column(Integer, primary_key=True)
...     age = Column(Integer)
...     workclass = Column(String)
...     fnlwgt = Column(String)
...     education = Column(String)
...     education_num = Column(String)
...     marital_status = Column(String)
...     occupation = Column(String)
...     relationship = Column(String)
...     race = Column(String)
...     sex = Column(String)
...     capital_gain = Column(Integer)
...     capital_loss = Column(Integer)
...     hours_per_week = Column(Integer)
...     native_country = Column(String)
...     income = Column(String)
...
...     def __repr__(self):
...         return "<Adult(age='%d', workclass='%s', fnlwgt='%s, education='%s', education_num='%s', marital_status='%s', occupation='%s', relationship='%s' race='%s', sex='%s', capital_gain='%d', capital_loss='%d', hours_per_week='%d', native_country='%s', income='%s')>" % (
...         self.age, self.workclass, self.fnlwgt, self.education, self.education_num, self.marital_status, self.occupation, self.relationship, self.race, self.sex, self.capital_gain, self.capital_loss, self.hours_per_week, self.native_country, self.income)

In [4]:
# Dipslay the Columns of Adult table
Adult.__table__

Table('Adult', MetaData(bind=None), Column('id', Integer(), table=<Adult>, primary_key=True, nullable=False), Column('age', Integer(), table=<Adult>), Column('workclass', String(), table=<Adult>), Column('fnlwgt', String(), table=<Adult>), Column('education', String(), table=<Adult>), Column('education_num', String(), table=<Adult>), Column('marital_status', String(), table=<Adult>), Column('occupation', String(), table=<Adult>), Column('relationship', String(), table=<Adult>), Column('race', String(), table=<Adult>), Column('sex', String(), table=<Adult>), Column('capital_gain', Integer(), table=<Adult>), Column('capital_loss', Integer(), table=<Adult>), Column('hours_per_week', Integer(), table=<Adult>), Column('native_country', String(), table=<Adult>), Column('income', String(), table=<Adult>), schema=None)

In [5]:
# Create Adult table
Base.metadata.create_all(engine)

2018-07-08 22:53:35,316 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-08 22:53:35,322 INFO sqlalchemy.engine.base.Engine ()
2018-07-08 22:53:35,324 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-08 22:53:35,325 INFO sqlalchemy.engine.base.Engine ()
2018-07-08 22:53:35,327 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Adult")
2018-07-08 22:53:35,327 INFO sqlalchemy.engine.base.Engine ()
2018-07-08 22:53:35,329 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Adult" (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR,
	fnlwgt VARCHAR,
	education VARCHAR,
	education_num VARCHAR,
	marital_status VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capital_gain INTEGER,
	capital_loss INTEGER,
	hours_per_week INTEGER,
	native_country VARCHAR,
	income VARCHAR,
	PRIMARY KEY (id)
)


2018-07-08 22:53:35,330 INFO sqlalchemy.engine.base.Engine ()
2018-07-08 22:53:35,331 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
# Create a Session and bind to engine
Session = sessionmaker(bind=engine)
session = Session()

# Add five records from the sample provided
session.add_all([Adult(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors', education_num='13', relationship='Never-married', occupation='Adm-clerical', marital_status='Not-in-family',race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='United-States', income='<=50K'),
                 Adult(age=50, workclass='Self-emp-not-inc', fnlwgt='83311', education='Bachelors', education_num='13', relationship='Married-civ-spouse', occupation='Exec-managerial', marital_status='Husband',  race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=23, native_country='United-States', income='<=50K'),
                 Adult(age=53, workclass='Private', fnlwgt='234721', education='11th', education_num='7', relationship='Divorced', occupation='Handlers-cleaners', marital_status='Not-in-family', race='Black', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', income='<=50K'),
                 Adult(age=52, workclass='Self-emp-not-inc', fnlwgt='209642', education='HS-grad', education_num='9', relationship='Married-civ-spouse', occupation='Exec-managerial', marital_status='Husband',  race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=45, native_country='United-States', income='>50K'),
                 Adult(age=23, workclass='Private', fnlwgt='122272', education='Bachelors', education_num='13', relationship='Never-married', occupation='Adm-clerical', marital_status='Own-child',  race='White', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=30, native_country='United-States', income='<=50K')
                ])

# Commit the inserted records
session.commit()

2018-07-08 22:53:38,747 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-08 22:53:38,750 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-07-08 22:53:38,751 INFO sqlalchemy.engine.base.Engine ('39', 'State-gov', '77516', 'Bachelors', '13', 'Not-in-family', 'Adm-clerical', 'Never-married', 'White', 'Male', '2174', '0', '40', 'United-States', '<=50K')
2018-07-08 22:53:38,752 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-07-08 22:53:38,753 INFO sqlalchemy.engine.base.Engine (50, 'Self-emp-not-inc', '83311', 'Bachelors', '13', 'Husband', 'Exec-managerial', 'Married-civ-spouse', 'White', 'Male', 0, 0, 23, 'United-States', '<=50K')
2018-07-08 22:53:38,754 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-07-08 22:53:38,755 INFO sqlalchemy.engine.base.Engine (53, 'Private', '234721', '11th', '7', 'Not-in-family', 'Handlers-cleaners', 'Divorced', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K')
2018-07-08 22:53:38,756 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-07-08 22:53:38,757 INFO sqlalchemy.engine.base.Engine (52, 'Self-emp-not-inc', '209642', 'HS-grad', '9', 'Husband', 'Exec-managerial', 'Married-civ-spouse', 'White', 'Male', 0, 0, 45, 'United-States', '>50K')
2018-07-08 22:53:38,758 INFO sqlalchemy.engine.base.Engine INSERT INTO "Adult" (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-07-08 22:53:38,758 INFO sqlalchemy.engine.base.Engine (23, 'Private', '122272', 'Bachelors', '13', 'Own-child', 'Adm-clerical', 'Never-married', 'White', 'Female', 0, 0, 30, 'United-States', '<=50K')
2018-07-08 22:53:38,759 INFO sqlalchemy.engine.base.Engine COMMIT

## 4. Write two filter queries

## Steps:
* Write a filter query for Adult whose income is '>50K' and assign to person_with_income_greater_50k
*  Write a filter query for Adult whose age is less than 25 and assign to person_with_age_less_than_25

In [7]:
# Filter query for adult whose income is '>50K'
person_with_income_greater_50k = session.query(Adult).filter_by(income='>50K').one()
print(person_with_income_greater_50k)

2018-07-08 22:53:52,687 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-08 22:53:52,690 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE "Adult".income = ?
2018-07-08 22:53:52,691 INFO sqlalchemy.engine.base.Engine ('>50K',)
<Adult(age='52', workclass='Self-emp-not-inc', fnlwgt='209642, education='HS-grad', education_num='9', marital_status='Husband', occupation='Exec-managerial', relationship='Married-civ-spouse' race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='45', native_country='United-States', income='>50K')>

In [8]:
# Filter query for adult whose age is less than 25
from sqlalchemy import text
person_with_age_less_than_25 = session.query(Adult).filter(text("age<25")).one()
print(person_with_age_less_than_25)

2018-07-08 22:54:00,096 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE age<25
2018-07-08 22:54:00,097 INFO sqlalchemy.engine.base.Engine ()
<Adult(age='23', workclass='Private', fnlwgt='122272, education='Bachelors', education_num='13', marital_status='Own-child', occupation='Adm-clerical', relationship='Never-married' race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='30', native_country='United-States', income='<=50K')>

## 5. Write two function queries

## Steps:
* Write a function query to return count of adults from Adult table group by marital_status
* Write a function query to total number of records in Adult table

In [9]:
# Write a function query to return count of adults group by martial_status
session.query(Adult.marital_status, func.count(Adult.marital_status)).group_by(Adult.marital_status).all()

2018-07-08 22:54:07,059 INFO sqlalchemy.engine.base.Engine SELECT "Adult".marital_status AS "Adult_marital_status", count("Adult".marital_status) AS count_1
FROM "Adult" GROUP BY "Adult".marital_status
2018-07-08 22:54:07,060 INFO sqlalchemy.engine.base.Engine ()

[('Husband', 2), ('Not-in-family', 2), ('Own-child', 1)]

In [10]:
#Write a function query to total number of records in Adult table
total_records = session.query(func.count(Adult.id)).scalar()
print("Total number of records = " + str(total_records))

2018-07-08 22:54:10,763 INFO sqlalchemy.engine.base.Engine SELECT count("Adult".id) AS count_1
FROM "Adult"
2018-07-08 22:54:10,764 INFO sqlalchemy.engine.base.Engine ()
Total number of records = 5

## 2. Write two basic update queries

## Steps:
* Update person_with_income_greater_50k by changing capital_loss field to 500, hours_per_week field to 42
* Update person_with_age_less_than_25 by changing occupation to 'Exec-managerial'
* Commit the session for the updated records
* Query again for both person_with_income_greater_50k and person_with_age_less_than_25 and check that update has happened

In [11]:
# Update person_with_income_greater_50k by changing capital_loss field to 500,
# hours_per_week field to 42
person_with_income_greater_50k.capital_loss=500
person_with_income_greater_50k.hours_per_week=42

# Update person_with_age_less_than_25 by changing occupation to 'Exec-managerial'
person_with_age_less_than_25.occupation='Exec-managerial'

# Commit the session for the updated records
session.commit()

2018-07-08 22:54:26,878 INFO sqlalchemy.engine.base.Engine UPDATE "Adult" SET capital_loss=?, hours_per_week=? WHERE "Adult".id = ?
2018-07-08 22:54:26,880 INFO sqlalchemy.engine.base.Engine (500, 42, 4)
2018-07-08 22:54:26,881 INFO sqlalchemy.engine.base.Engine UPDATE "Adult" SET occupation=? WHERE "Adult".id = ?
2018-07-08 22:54:26,882 INFO sqlalchemy.engine.base.Engine ('Exec-managerial', 5)
2018-07-08 22:54:26,883 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
# Query again for both person_with_income_greater_50k and check that capital_loss and hours_per_week
# are updated
person_with_income_greater_50k = session.query(Adult).filter_by(income='>50K').one()
print(person_with_income_greater_50k)

2018-07-08 22:54:30,015 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-08 22:54:30,017 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE "Adult".income = ?
2018-07-08 22:54:30,018 INFO sqlalchemy.engine.base.Engine ('>50K',)
<Adult(age='52', workclass='Self-emp-not-inc', fnlwgt='209642, education='HS-grad', education_num='9', marital_status='Husband', occupation='Exec-managerial', relationship='Married-civ-spouse' race='White', sex='Male', capital_gain='0', capital_loss='500', hours_per_week='42', native_country='United-States', income='>50K')>

In [13]:
# Query again for both erson_with_age_less_than_25 and check that occupation field is updated
person_with_age_less_than_25 = session.query(Adult).filter(text("age<25")).one()
print(person_with_age_less_than_25)

2018-07-08 22:54:33,620 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE age<25
2018-07-08 22:54:33,621 INFO sqlalchemy.engine.base.Engine ()
<Adult(age='23', workclass='Private', fnlwgt='122272, education='Bachelors', education_num='13', marital_status='Own-child', occupation='Exec-managerial', relationship='Never-married' race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='30', native_country='United-States', income='<=50K')>

## 3. Write two delete queries

## Steps:
* Delete person_with_income_greater_50k and person_with_age_less_than_25
* Commit the session
* Check that deleted records are no longer available

In [14]:
# Delete records person_with_income_greater_50k and person_with_age_less_than_25
session.delete(person_with_income_greater_50k)
session.delete(person_with_age_less_than_25)

# Commit the session
session.commit()

2018-07-08 22:54:39,389 INFO sqlalchemy.engine.base.Engine DELETE FROM "Adult" WHERE "Adult".id = ?
2018-07-08 22:54:39,390 INFO sqlalchemy.engine.base.Engine ((4,), (5,))
2018-07-08 22:54:39,392 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
# Query the DB again and check that there are no record for person_with_income_greater_50k
# It will throw an Exception NoResultFound
person_with_income_greater_50k = session.query(Adult).filter_by(income='>50K').one()
print(person_with_income_greater_50k)

2018-07-08 22:55:33,937 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE "Adult".income = ?
2018-07-08 22:55:33,939 INFO sqlalchemy.engine.base.Engine ('>50K',)

NoResultFound: No row was found for one()

In [18]:
# Query the DB again and check that there are no record for person_with_age_less_than_25
# # It will throw an Exception NoResultFound
person_with_age_less_than_25 = session.query(Adult).filter(text("age<25")).one()
print(person_with_age_less_than_25)

2018-07-08 22:55:48,858 INFO sqlalchemy.engine.base.Engine SELECT "Adult".id AS "Adult_id", "Adult".age AS "Adult_age", "Adult".workclass AS "Adult_workclass", "Adult".fnlwgt AS "Adult_fnlwgt", "Adult".education AS "Adult_education", "Adult".education_num AS "Adult_education_num", "Adult".marital_status AS "Adult_marital_status", "Adult".occupation AS "Adult_occupation", "Adult".relationship AS "Adult_relationship", "Adult".race AS "Adult_race", "Adult".sex AS "Adult_sex", "Adult".capital_gain AS "Adult_capital_gain", "Adult".capital_loss AS "Adult_capital_loss", "Adult".hours_per_week AS "Adult_hours_per_week", "Adult".native_country AS "Adult_native_country", "Adult".income AS "Adult_income"
FROM "Adult"
WHERE age<25
2018-07-08 22:55:48,859 INFO sqlalchemy.engine.base.Engine ()

NoResultFound: No row was found for one()